@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,500');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: hidden;

  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 1em 0 .25em;
}

p {
  margin: 1em 0 .25em;
}

