.idea/
.vscode/

node_modules/
npm-debug.log

THIS_IS_DEV_ENV
NODE_PATH

docs/CREDS.md
server/https-cert/
server/creds.json
server/html/includes-jsx/includes-jsx-compiled.js

*.map
static/css/*.css
static/js/*.js
