@import "../../css-framework/lists";
@import "../../config";

.goals {
  @extend .v-list;
  position: relative;

  .goal {
    &.selected {
      background-color: $color-light;
    }


    .action {
      padding: $interval-x-small $interval-big 0 0;

      .button {
        width: 100%;
      }
    }

    .wording {
      .name {
        margin-top: 0;
      }
    }
  }
}
