@import "../../css-framework/lists";
@import "../../config";

.goals {
  position: relative;

  .goal {
    margin-left: -$interval-small;
    padding: $interval-small;
    border-radius: $interval-small;

    &.selected {
      background-color: $color-light;
    }


    .action {
      padding: $interval-x-small $interval-big 0 $interval-x-small;

      .button {
        width: 100%;
      }
    }

    .wording {
      .name {
        margin-top: 0;
      }
    }
  }
}
