@import "../../css-framework/lists";

.goals {
  @extend .v-list;

  .goal {
    .action {
      padding: $interval-x-small $interval-big 0 0;

      .button {
        width: 100%;
      }
    }

    .wording {
      .name {
        margin-top: 0;
      }
    }
  }
}
