<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>
    <img class="logo" alt="My Goal" src="/assets/logo.png">
    Achieve with {{ title }}!
  </h1>
</header>
<div class="payload">
  <h2>Here are goals to do:</h2>
  <app-goals></app-goals>
</div>
<footer>
  <div class="row">
    <div class="column-4">
      <p>
        <img class="logo" alt="My Goal" src="/assets/logo.png">
        Achieve with {{ title }}!
      </p>
    </div>
    <div class="column-4 gap"></div>
    <div class="column-4">
      <p class="credits">
        &copy; Roman Melnyk, 2018
      </p>
      <p>
        Written as Angular 5 tryout project.
      </p>
    </div>
  </div>
</footer>