@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,500');
$font-family: "IBM Plex Sans Condensed", Helvetica, Arial, sans-serif;
$font-size: 16px;
$font-weight: 300;

$font-size-small: .75rem;


$interval-big: 2rem;
$interval-small: .5rem;
$interval-x-small: .25rem;


$color-fade-amount-soft: 10%;
$color-fade-amount-hard: 3 * $color-fade-amount-soft;

// {hue - 10} from "pure" color
$color-red: hsl(340, 40%, 40%);
$color-green: hsl(100, 40%, 40%);
$color-blue: hsl(220, 40%, 40%);
$color-grey: hsl(0, 0%, 60%);
$color-light-grey: lighten($color-grey, $color-fade-amount-hard);

$color-bg: #fff;
$color-text: hsl(0, 0%, 10%);
$color-link: $color-blue;


$screen-s-width: 480px;
$screen-m-width: 800px;
$screen-l-width: 1400px;


$transition-props: .10s ease-out;
